<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body th:with="user=${#authentication.principal.user}">
<div>
    <div class="root">
        <div class="root-container w-container">
            <div th:include="fragment/header"></div>

            <div class="section-container">
                <div th:include="fragment/sidebar"></div>

                <section class="contents" id="contents">
                    <div>
                        <div class="single-view-object-container">
                            <div class="view-message-container" id="message">
                                <p style="color: red" th:if="${error != null}" th:text="${error}"></p>
                            </div>
                            <form method="post" th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
                                  th:object="${reservationForm}">
                                <div class="single-view-container">
                                    <div class="single-view-header">
                                        <div class="single-view-header-item">
                                            <h1 class="single-view-title">予約</h1>
                                            <p class="single-view-subtitle">新規</p>
                                        </div>
                                        <div class="collection-object-item-actions">


                                            <button class="action-button" data-type="3" id="save">予約</button>

                                        </div>
                                    </div>

                                    <div class="single-view-content">
                                        <div class="single-view-content-item">
                                            <div class="single-view-content-item-form">
                                                <div class="single-view-content-item-form-item">
                                                    <label class="single-view-content-item-form-item-label">会議室</label>
                                                    <span th:text="${room.roomName.value}">豊洲</span>
                                                </div>
                                                <div class="single-view-content-item-form-item">
                                                    <label class="single-view-content-item-form-item-label">予約者名</label>
                                                    <span th:text="${user.name.lastName + ' ' + user.name.firstName}">山田 太郎</span>
                                                </div>
                                                <div class="single-view-content-item-form-item">
                                                    <label class="single-view-content-item-form-item-label">日付</label>
                                                    <span th:text="${#temporals.format(date, 'yyyy/M/d')}">2016/5/20</span>
                                                </div>
                                                <div class="single-view-content-item-form-item">
                                                    <label class="single-view-content-item-form-item-label">時間帯</label>

                                                    <select class="single-view-content-item-form-item"
                                                            id="startTime" name="reservationTimeSlot"
                                                            th:field="*{startTime}">

                                                        <option th:each="time : ${timeList}" th:text="${time}"
                                                                th:value="${time}">09:00
                                                        </option>
                                                    </select>
                                                    <span style="color:red" th:error="*{startTime}"
                                                          th:if="${#fields.hasErrors('startTime')}">error</span>
                                                    -
                                                    <select class="single-view-content-item-form-item"
                                                            id="endTime" name="reservationTimeSlot"
                                                            th:field="*{endTime}">

                                                        <option th:each="time : ${timeList}" th:text="${time}"
                                                                th:value="${time}">10:00
                                                        </option>
                                                    </select>
                                                    <span style="color:red" th:error="*{endTime}"
                                                          th:if="${#fields.hasErrors('endTime')}">error</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="collection-view-content">
                            <div class="collection-object-container">
                                <table>
                                    <tr>
                                        <th>時間帯</th>
                                        <th>予約者</th>
                                        <th>操作</th>
                                    </tr>
                                    <tr th:each="reservation : ${reservations}">
                                        <td>
                                            <span th:text="${reservation.reservationTimeSlot.startTime}"/>
                                            -
                                            <span th:text="${reservation.reservationTimeSlot.endTime}"/>
                                        </td>
                                        <td>
                                            <span th:text="${reservation.user.name.lastName}"/>
                                            <span th:text="${reservation.user.name.firstName}"/>
                                        </td>
                                        <td>
                                            <form method="post"
                                                  sec:authorize="${hasRole('ADMIN') or #vars.user.userId.value == #vars.reservation.user.userId.value}"
                                                  th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}">
                                                <input name="reservationId"
                                                       th:value="${reservation.reservationId.value}" type="hidden"/>
                                                <input name="cancel" type="submit" value="取消">
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </section>
            </div>

            <div th:include="fragment/footer"></div>
        </div>
    </div>
</div>


</body>
</html>
