<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title>MRS</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header class="header" id="header">
    <div>
        <div class="header-container w-container">
            <div class="site">
                <a class="logo" href="">MRS</a>
            </div>

            <div id="nav">
                <div>
                    <div class="nav-contanier">
                        <form method="post" th:action="@{/logout}">
                            <button class="navbtn" id="nav-button">
                                <i class="fas fa-bars"></i>
                                <i class="fas fa-times"></i>
                                <span class="sr-only">MENU</span>
                            </button>

                            <nav class="nav" id="nav-menu">
                                <ul>
                                    <li class="nav-item nav-sub-item active" id="side-nav-home-nav">
                                        <a th:href="@{'/'}">HOME</a>
                                    </li>
                                    <li class="nav-item">予約管理
                                        <ul class="nav-sub-list">
                                            <li class="nav-sub-item" id="nav-user-nav">
                                                <a th:href="@{'/rooms'}">会議室一覧</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item" id="nav-logout-nav">
                                        <button class="link-style">ログアウト</button>
                                    </li>
                                </ul>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
</body>
</html>
