<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <div class="root">
        <div class="root-container w-container">
            <header class="header" id="header">
                <div>
                    <div class="header-container w-container">
                        <div class="site">
                            <a class="logo" href="">MRS</a>
                        </div>

                        <div id="nav">
                            <div>
                                <div class="nav-contanier">
                                    <form method="post" th:action="@{/logout}">
                                        <button class="navbtn" id="nav-button">
                                            <i class="fas fa-bars"></i>
                                            <i class="fas fa-times"></i>
                                            <span class="sr-only">MENU</span>
                                        </button>

                                        <nav class="nav" id="nav-menu">
                                            <ul>
                                                <li class="nav-item nav-sub-item active" id="nav-home-nav">HOME</li>
                                                <li class="nav-item">予約管理
                                                    <ul class="nav-sub-list">
                                                        <li class="nav-sub-item" id="nav-user-nav">会議室一覧</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item" id="nav-logout-nav">
                                                    <button class="link-style">ログアウト</button>
                                                </li>
                                            </ul>
                                        </nav>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <div class="section-container">
                <section class="sidebar" id="side-nav">
                    <div>
                        <div class="nav-contanier">
                            <form method="post" th:action="@{/logout}">
                                <nav class="side-nav" id="side-nav-menu">
                                    <ul>
                                        <li class="nav-item nav-sub-item active" id="side-nav-home-nav">HOME</li>
                                        <li class="nav-item">予約管理
                                            <ul class="nav-sub-list">
                                                <li class="nav-sub-item" id="side-nav-user-nav">会議室一覧</li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" id="side-nav-logout-nav">
                                            <button class="link-style">ログアウト</button>
                                        </li>
                                    </ul>
                                </nav>
                            </form>
                        </div>
                    </div>
                </section>

                <section class="contents" id="contents">
                    <div>
                        <div class="single-view-object-container">
                            <div class="view-message-container" id="message"></div>
                            <div class="single-view-container">
                                <div class="single-view-header">
                                    <div class="single-view-header-item">
                                        <h1 class="single-view-title">HOME</h1>
                                        <p class="single-view-subtitle">お知らせ</p>
                                    </div>

                                </div>

                                <div class="single-view-content">

                                    <dl class="info">
                                    </dl>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer class="footer" id="footer">
                <div>
                    <div class="footer-container w-container" id="footer">
                        <div class="footer-site">
                            MeetingRoom Reservation System
                        </div>

                        <div class="footer-copy">
                            @2024 K2works
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
